<h1>TABLA DE REPORTE VACACIONALES</h1>




<div style="width: 100%; margin-bottom: 40px;">

    <h4>NOMBRE: <label for="">DANIEL ANDRADE</label></h4>
    <h4>CEDULA: <label for="">0106434665</label></h4>
    <h4>FECHA DE INGRESO: <label for="">FECHA ACTUAL </label></h4>

</div>



<table class="container">
    <thead>
        <tr>
            <th>
                <h1>DETALLE</h1>
            </th>
            <th>
                <h1>DESDE</h1>
            </th>
            <th>
                <h1>HASTA</h1>
            </th>
            <th>
                <h1>DIAS</h1>
            </th>
            <th>
                <h1>LUGAR</h1>
            </th>
            <th>
                <h1>INFORME</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
        </tr>
    </tbody>
</table>



<table class="container">
    <thead>
        <tr>
            <th>
                <h1>DETALLE</h1>
            </th>
            <th>
                <h1>DESDE</h1>
            </th>
            <th>
                <h1>HASTA</h1>
            </th>
            <th>
                <h1>DIAS</h1>
            </th>
            <th>
                <h1>LUGAR</h1>
            </th>
            <th>
                <h1>INFORME</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
            <td>DATOS</td>
        </tr>
    </tbody>
</table>

<div>
    <h4 style="height: 70px; font-size: 16px; font-weight: bolder;">Se permitira realizar reportes sobre las vacaciones
        del usuario activo</h4>
</div>