<div style="width: 100%;">
    <h1 style="text-align: center; margin-bottom: 20px; font-weight: bolder;">TABLA DE REPORTE VACACIONALES</h1>

</div>

<div style="width: 100%; margin-bottom: 40px;">

    <h4>NOMBRE: <label for="">DANIEL ANDRADE</label></h4>
    <h4>CEDULA: <label for="">0106434665</label></h4>
    <h4>FECHA DE INGRESO: <label for="">FECHA ACTUAL </label></h4>

</div>

<div style="width: 100%; margin-top: 50px;">
    <div class="table-responsive">
        <table class="table table-hover" id="job-table">
            <thead className="theadTab">
                <tr class="text-center" style="background-color: aquamarine;">
                    <th class="tipo" scope="col">ID USUARIO</th>
                    <th class="tipo" scope="col">DETALLE</th>
                    <th class="tipo" scope="col">DESDE</th>
                    <th class="tipo" scope="col">HASTA</th>
                    <th class="tipo" scope="col">CIUDAD</th>
                    <th class="tipo" scope="col">INFORME</th>
                    <!-- <th class="tipo" scope="col">EDITAR</th>
                    <th class="tipo" scope="col">ELIMINAR</th> -->
                </tr>
            </thead>
            <tbody class="text-center tableBody">
                <tr key={key}>
                    <td>1</td>
                    <td>Desarrollador</td>
                    <td>Daniel Andrade</td>
                    <td>04/12/2002</td>
                    <td>Cuenca</td>
                    <td>0978717957</td>
                    <!-- <td><button role="button" class="button-name">Editar</button></td>
                    <td><button role="button" class="button-name2">Eliminar</button></td> -->

                </tr>
                <tr key={key}>
                    <td>1</td>
                    <td>Desarrollador</td>
                    <td>Daniel Andrade</td>
                    <td>04/12/2002</td>
                    <td>Cuenca</td>
                    <td>0978717957</td>
                    <!-- <td><button role="button" class="button-name">Editar</button></td>
                    <td><button role="button" class="button-name2">Eliminar</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <h4 style="height: 70px; font-size: 16px; font-weight: bolder;">Se permitira realizar reportes sobre las vacaciones
        del usuario activo</h4>
</div>