<div style="width: 100%; margin-top: 20px; margin-bottom: 50px;">
    <h1 style="text-align: center; font-weight: bolder; ">Formulario de Registro de Usuario</h1>
</div>

<form name="registroUsuario">

    <div class="contentForm">
        <div style="width: 100%; padding-bottom: 15px;">

            <h2 style="text-align: center; font-weight: bolder;">Datos personales</h2>
        </div>
        <section class="layout">

            <div>
                <div class="input-container">
                    <label for="name" class="name">CEDULA:</label>
                    <input placeholder="Ingresa el CI del Usuario" type="text" class="input" name="perCedula"
                        (keydown)="validarNumeros($event)" [(ngModel)]="persona.perCedula">
                    <div class="underline"></div>
                </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">NOMBRES:</label>
                    <input placeholder="Ingresa el Nombre del Usuario" type="text" class="input" name="perNombre"
                        (keydown)="validarLetras($event)" [(ngModel)]="persona.perNombre">
                    <div class="underline"></div>
                </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">APELLIDOS:</label>
                    <input placeholder="Ingresa el Apellido del Usuario" type="text" class="input2" name="perApellido"
                        (keydown)="validarLetras($event)" [(ngModel)]="persona.perApellido">
                    <div class="underline"></div>
                </div>
            </div>
            <div class="input-container">
                <label for="name" class="name">FECHA DE NACIMIENTO:</label>
                <input class="input" type="date" name="perFechaNacimiento" placeholder="Fecha de nacimiento"
                    name="perFechaNacimiento" [(ngModel)]="persona.perFechaNacimiento">
                <div class="underline"></div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">PROVINCIA:</label>
                    <select id="provincias" name="provincias" class="input2" style="color: #777;"
                        (change)="cargarCiudades()" [(ngModel)]="selectProvincia.proId">
                        <option value="0">Seleccione una Provincia</option>
                        <option *ngFor="let provincia of listProvincias" [value]="provincia.proId">
                            {{ provincia.proNombre }}
                        </option>

                    </select>
                    <div class="underline"></div>
                </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">CIUDAD:</label>
                    <select id="ciudades" name="ciudades" class="input2" style="color: #777;"
                        [(ngModel)]="persona.ciuId.ciuId">
                        <option value="0">Seleccione una Ciudad</option>
                        <option *ngFor="let ciudad of listCiudades" [value]="ciudad.ciuId">
                            {{ ciudad.ciuNombre }}
                        </option>

                    </select>
                    <div class="underline"></div>
                </div>
            </div>


            <div>
                <div class="input-container">
                    <label for="name" class="name">TELÉFONO:</label>
                    <input placeholder="Ingresa el número de teléfono" type="text" class="input" name="perTelefono"
                        (keydown)="validarNumeros($event)" [(ngModel)]="persona.perTelefono">
                    <div class="underline"></div>
                </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">DIRECCION:</label>
                    <input placeholder="Ingresa la direccion del domicilio" type="text" class="input"
                        (keydown)="validarLetrasNum($event)" name="perDireccion" [(ngModel)]="persona.perDireccion">
                    <div class="underline"></div>
                </div>
            </div>

            <div>
                <div class="input-container">
                    <label for="name" class="name">INSTITUCION:</label>
                    <select id="frutas" name="frutas" class="input2" style="color: #777;">
                        <option value="manzana">Selecciona tu institucion</option>
                        <option value="banana">Banana</option>
                        <option value="uva">Uva</option>
                        <option value="naranja">Naranja</option>
                        <option value="pera">Pera</option>
                    </select>
                    <div class="underline"></div>
                </div>
                <div>
                    <button class="flot" (click)="crearInstituto()">CREAR NUEVA INSTITUCION</button>
                </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">PROCESO - ZONA:</label>
                    <select id="frutas" name="frutas" class="input2" style="color: #777;">
                        <option value="manzana">Selecciona tu Provincia</option>
                        <option value="banana">Banana</option>
                        <option value="uva">Uva</option>
                        <option value="naranja">Naranja</option>
                        <option value="pera">Pera</option>
                    </select>
                    <div class="underline"></div>
                </div>
                <div>
                    <button class="flot" (click)="crearProceso()">CREAR NUEVO PROCESO - ZONA</button>
                  </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">SUBPROCESO - DEPARTAMENTO:</label>
                    <select id="frutas" name="frutas" class="input2" style="color: #777;">
                        <option value="manzana">Selecciona tu Provincia</option>
                        <option value="banana">Banana</option>
                        <option value="uva">Uva</option>
                        <option value="naranja">Naranja</option>
                        <option value="pera">Pera</option>
                    </select>
                    <div class="underline"></div>
                </div>
                <div>
                    <button class="flot" (click)="crearSubproceso()">CREAR NUEVO SUBPROCESO - DEPARTAMENTO</button>
                  </div>
            </div>
        </section>
    </div>

    <div class="contentForm">
        <div style="width: 100%; padding-bottom: 15px;">

            <h2 style="text-align: center; font-weight: bolder;">Datos de Usuario</h2>
        </div>
        <section class="layout">

            <div>
                <div class="input-container">
                    <label for="name" class="name">NOMBRE DE USUARIO: *</label>
                    <input placeholder="Ingresar un Nombre de Usuario" type="text" class="input" name="usuNombreUsuario"
                        (keydown)="validarLetrasNum($event)" [(ngModel)]="usuario.usuNombreUsuario">
                    <div class="underline"></div>
                </div>
            </div>

            <div>
                <div class="input-container">
                    <label for="name" class="name">CORREO ELECTRONICO: *</label>
                    <input placeholder="Ingresar un Correo Electronico" type="text" class="input" name="usuCorreo"
                        [(ngModel)]="usuario.usuCorreo">
                    <div class="underline"></div>
                </div>
            </div>

            <div>
                <div class="input-container">
                    <label for="name" class="name">CONTRASEÑA: *</label>
                    <input placeholder="Ingresar una contraseña" type="password" class="input2" name="usuContrasena"
                        [(ngModel)]="usuario.usuContrasena">
                    <div class="underline"></div>
                </div>
            </div>

            <div>
                <div class="input-container">
                    <label for="name" class="name">CONFIRMAR CONTRASEÑA: *</label>
                    <input placeholder="Repita la contraseña" type="password" class="input2" name="confirmarPass"
                        [(ngModel)]="confirmarPass">
                    <div class="underline"></div>
                </div>
            </div>
            <div>
                <div class="input-container">
                    <label for="name" class="name">DESIGNAR ROL:</label>
                    <select id="roles" name="roles" class="input2" style="color: #777;"
                        [(ngModel)]="usuario.rolId.rolId">
                        <option value="0">Seleccione una Ciudad</option>
                        <option *ngFor="let rol of listRoles" [value]="rol.rolId">
                            {{ rol.rolNombre }}
                        </option>

                    </select>
                    <div class="underline"></div>
                </div>
            </div>


        </section>
    </div>

    <div class="contentForm">
        <div style="width: 100%; padding-bottom: 15px;">

            <h2 style="text-align: center; font-weight: bolder;">Designacion de Rol</h2>
        </div>

        <div style="width: 100%; margin-top: 30px;">
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Rol</th>
                        <th class="text-left">Descripcion</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr *ngFor="let rol of listRoles">
                        <td class="text-left">{{rol.rolNombre}}</td>
                        <td class="text-left">{{rol.rolDescripcion}}</td>
                    </tr>

                </tbody>
            </table>


            <div style="width: 100%; align-content: center; text-align: center; margin-top: 20px;">
                <button class="learn-more" style="margin-bottom: 40px; width: 50%;" (click)="registrar()">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Registrar Nuevo Usuario</span>
                </button>
            </div>

        </div>
    </div>
</form>