<div style="width: 100%; margin-top: 20px; margin-bottom: 50px;">
    <h1 style="text-align: center; font-weight: bolder; ">Formulario de Registro de Usuario</h1>
</div>

<section class="layout">
    <div>
        <div class="input-container">
            <label for="name" class="name" data-tooltip="Ingrese su nombre">NOMBRE:</label>
            <input placeholder="Ingresa el Nombre del Usuario" type="text" class="input">
            <div class="underline"></div>
          </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">APELLIDO:</label>
            <input placeholder="Ingresa el Apellido del Usuario" type="text" class="input">
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">CEDULA:</label>
            <input placeholder="Ingresa el CI del Usuario" type="text" class="input">
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">PUESTO - CARGO:</label>
            <select id="frutas" name="frutas" class="input2" style="color: #777;">
                <option value="manzana">Selecciona el cargo que ocupara</option>
                <option value="banana">Banana</option>
                <option value="uva">Uva</option>
                <option value="naranja">Naranja</option>
                <option value="pera">Pera</option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">PROVINCIA:</label>
            <select id="frutas" name="frutas" class="input2" style="color: #777;">
                <option value="manzana">Selecciona tu Provincia</option>
                <option value="banana">Banana</option>
                <option value="uva">Uva</option>
                <option value="naranja">Naranja</option>
                <option value="pera">Pera</option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">CIUDAD:</label>
            <select id="frutas" name="frutas" class="input2" style="color: #777;">
                <option value="manzana">Selecciona tu Ciudad</option>
                <option value="banana">Banana</option>
                <option value="uva">Uva</option>
                <option value="naranja">Naranja</option>
                <option value="pera">Pera</option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">PROVINCIA:</label>
            <select id="frutas" name="frutas" class="input2" style="color: #777;">
                <option value="manzana">Selecciona tu Provincia</option>
                <option value="banana">Banana</option>
                <option value="uva">Uva</option>
                <option value="naranja">Naranja</option>
                <option value="pera">Pera</option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="name" class="name">PROVINCIA:</label>
            <select id="frutas" name="frutas" class="input2" style="color: #777;">
                <option value="manzana">Selecciona tu Provincia</option>
                <option value="banana">Banana</option>
                <option value="uva">Uva</option>
                <option value="naranja">Naranja</option>
                <option value="pera">Pera</option>
            </select>
            <div class="underline"></div>
        </div>
    </div>
</section>

<div style="width: 100%;">

    <h2 style="text-align: center; font-weight: bolder;">Designacion de Rol</h2>
</div>

<div style="width: 100%; margin-top: 30px;">
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Rol</th>
                <th class="text-left">Descripcion</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <td class="text-left">SuperAdminstrador</td>
                <td class="text-left">Tendra a su disposcion todas las funciones, generacion de usuarios, permisos,
                    vacaciones, gestion de cuentas, etc.</td>
            </tr>
            <tr>
                <td class="text-left">Funcionario</td>
                <td class="text-left"></td>
            </tr>
            <tr>
                <td class="text-left">Docente</td>
                <td class="text-left"></td>
            </tr>
        </tbody>
    </table>

    <section class="container3" style="margin-top: 50px; display: flex; flex-direction: column; align-items: center; text-align: center;">
        <div>
            <h3 style="font-size: 18px; font-weight: bolder; margin: auto;">Selecciona el tipo de rol para usuario que vas a crear:</h3>
        </div>
        <div>
            <div class="input-container">
                <select id="frutas" name="frutas" class="input2" style="color: #777;">
                    <option value="manzana">Selecciona el tipo de rol</option>
                    <option value="banana">Banana</option>
                    <option value="uva">Uva</option>
                    <option value="naranja">Naranja</option>
                    <option value="pera">Pera</option>
                </select>
                <div class="underline"></div>
            </div>
        </div>
    </section>
    

    <div style="width: 100%; align-content: center; text-align: center; margin-top: 20px;">
        <button class="learn-more" style="margin-bottom: 40px; width: 50%;">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Registrar Nuevo Usuario</span>
        </button>
    </div>