<div style="width: 100%; height: 100%;">

    <section class="layout">
        <div class="form">
            <div class="Formulario" style="width: 100%; height: 100%; text-align: center;">
                <div class="container" id="container" style="margin-left: auto; margin-right: auto;">
                    <div class="form-container sign-up-container">
                        <form action="#">
                            <h1 style="margin-bottom: 30px;">Recuperación de Contraseña</h1>
                            <span style="margin-bottom: 15px;">Rellena el siguiente campo para continuar</span>
                            <input type="email" placeholder="Ingresa tu correo electronico" />
                            <button style="margin-top: 30px;">Recuperar</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="#">
                            <h1 style="margin-bottom: 20px;">INICIAR SESIÓN</h1>
                            <input type="email" placeholder="Ingrese su nombre de usuario" name="usuNombreUsuario"
                                [(ngModel)]="loginRequest.usuNombreUsuario" />
                            <input type="password" placeholder="Ingrese su contraseña" name="usuContrasena"
                                [(ngModel)]="loginRequest.usuContrasena" />
                            <button style="margin-top: 20px;" (click)="logIn()">Iniciar Sesión</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>¿Ya tienes una cuenta?</h1>
                                <p>Redirigete al Inicio de Sesion y logeate</p>
                                <button class="ghost" id="signIn">Iniciar Sesion</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <img style="display: inline-block; margin: 0 auto;"
                                    src="assets/img/log.png" alt="" width="70%">

                                <h1>¿Olvidaste tu Contraseña?</h1>
                                <p>Accede para recuperarla</p>
                                <button class="ghost" id="signUp">Recuperar Contraseña</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>