<html>

<head>

</head>

<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="https://jbfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>

            </li>
            <!-- REGISTRO DE PERSONAS Y LISTADO -->
            <li class="has-subnav">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    PERSONAL
                </span>

            </li>
            <li class="has-subnav" style="height: 30px;">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Listado
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Agregar Usuario
                    </span>
                </a>

            </li>
            <!-- ASISTENCIA -->
            <li class="has-subnav">
                <i class="fa fa-calendar fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    ASISTENCIA
                </span>
            </li>
            <li class="has-subnav" style="height: 30px;">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Asistencia
                    </span>
                </a>
            </li>
            <li class="has-subnav" style="height: 30px;">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ingresar Asistencia
                    </span>
                </a>
            </li>
            <!-- PROCESOS Y SUB -->
            <li class="has-subnav">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    PROCESOS Y SUB
                </span>
            </li>
            <li class="has-subnav" style="height: 30px;">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Procesos
                    </span>
                </a>
            </li>
            <!-- INSTITUCIONES -->
            <li class="has-subnav">
                <i class="fa fa-file fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    INSTITUCIONES
                </span>
            </li>
            <li class="has-subnav" style="height: 30px;">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Instituciones
                    </span>
                </a>
            </li>
            <!-- FUNCIONES -->
            <li class="has-subnav">
                <i class="fa fa-envelope fa-2x"></i>
                <span class="nav-text" style="font-weight: bolder;">
                    FUNCIONES
                </span>
            </li>
            <li class="has-subnav" style="height: 30px;">
                <a href="#">
                    <span class="nav-text" style="padding-left: 60px;">
                        Ver Funciones
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        CERRAR SESIÓN
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>